QWidget {
    background-color: #AAA;
    }

QWidget > QPushButton
{
    background-color: #ed1c24;
     border-style: outset;
     border-width: 2px;
     border-color:#b51218;
        color:#f8f8f8;
}

QPushButton:hover
{
    background-color: #de1219;
    border-color:#ed1d24;
}
QTextEdit, QPlainTextEdit {
    background-color:white;
    border-width: 2px;
    border-color: #a6a5aa;
    border-style: inset;
    border-radius: 4px;
}

#Banner {
        background-color:#666;
        color: white;
}
ClickableLabel, #lblMergedImage {
    background-color:white;
}
#LogoFrame {
        background-image: url(://logo);
        border: 0px;
        repeat: no-repeat;
}
#Banner > #HeaderLabel{
    background-color:#666;
    color: white;
}

#spinBox{
    background-color:white;
}
QLabel {
    color:white;
}
